@using VedioRent.Models;
@model IEnumerable<Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<ul class="list-group">
    @foreach (var customer in Model)
    {
      <li class="list-group-item">@Html.ActionLink(customer.Name,"Details") </li>
    }
</ul>

